.number {
    color:#683cff;
    display: inline;
    margin-right: 10px;
    font-size: 13px;
}
.description {
    color: #544567;
    font-family: 'Beausite Classic';
    font-size: 13px;
}
.help {
    text-align: center;
}
.help a {
    text-decoration: none;
}
.help-row {
    margin-top: 90px;
}