.amount {
    margin-left: 45%;
    margin-top:90px;
}
.amount img {
    width: 80%;
    margin-top: 50px
}
.amount h4 {
    color: #767676;
    font-family: 'Beausite Classic';
    font-size: 18px;
}
.per {
    padding: 0;
    margin:0 5px;
    line-height: 10px;
}
.per p {
    margin: 5px;
    color:#767676;
}
.amount h1 {
    font-family: 'Bold';
    margin:0;
    font-weight: bold;
}
.amount-detail {
    display: inline-flex;
}
.amountWrapper {
    box-shadow: 10px 0 5px -2px #f8f8f8;
}

.amount-bottom a {
    color: rgb(180,180,180);
    cursor: pointer;
    padding-left: 12px;
}
.amount-bottom span {
    font-weight: 900;
    padding-left: 4px;
    padding-right: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (min-width:990px ){
    .amountWrapper {
        min-height: 470px;
    }
}
@media only screen and (max-width: 990px) {
    .amount {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        float: none;
    }
    .amount img {
        display: none;
    }
    .amount-detail {
        display:flex;
        justify-content: center;
    }
    .per {
        display: contents;
    }
    .per p {
        margin-top: 20px;
    }
}
@media only screen and (max-width:500px) {
    .amount img {
        display: none;
    }
    .amount {
        margin-left:20%;
    }
    .amountWrapper{
        min-height: 100;
    }
}