.stripInfo {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 30%;
}
.sepLine {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    color: #8d8d8d;
 } 
.post {
    
}
.sepLine> span { 
     background:#f3f3f3; 
     padding:0 10px; 
}
form{
    margin-top: 50px;
}
.separator {
    margin-top: 50px;
}
.form-btn {
    width: 100%;
    height: 50px;
    background-color: #683cff;
    color: #f3f3f3;
    text-decoration: none;
    border-radius: 10px;
}
.special {
    width: 50%;
    display:inline;
}
#cardnumber {
    background: white url('../images/visa.png') right no-repeat;
    background-size: 10%;
    padding-right: 20px;
}
.cardElement {
    width:400% 
}
.term {
    margin-top: 50px;
}