.logo-bar {
    text-align: center;
    margin-top: 50px;
}

.ever-logo {
    min-width: 50px;
    padding-left: 47px;
}

.title {
    padding-top: 10%;
}
.title p {
    font-size: 47px;
}
.second-bar p {
    font-size: 48px;
    font-family: sans-serif;
}
.second-bar {
    margin: 194px 10%;
    text-align: center;
}
.second-bar p span {
    display:inline-block;
    padding-bottom:1px;
    background: 
        linear-gradient(to left,  #6041ff, #b601ff); 
    background-size:100% 2px;
    background-position:bottom 0 left 0,bottom 5px left 0;
    background-repeat:no-repeat;
    font-family: sans-serif;
    margin-right: 15px;
}
.question {
    margin: -50px 10%;
}
.paynow {
    margin: 10px 10px
}
.message {
    margin-top: 130px;
    margin-bottom: 50px;
    text-align: center;
}
.message img {
    width:60px;
    margin-bottom: 30px;
}
.message p {
    font-family: 'Beausite Classic';
    font-size: 40px;
}
.message-text {
    color: #544567;
    font-family: 'Beausite Classic';
    font-size: 21px;
    margin-bottom: 50px;
    text-align: center;
}
.skip-button {
    float: right;
}
.stripe-logo {
    padding-right: 0;
    padding-left: 0;
}
.skip {
    border-radius: 50px;
    min-width: 134px;
    height: 45px;
    color: #f2f1f8;
    background-image: linear-gradient(to right, #6d38ff 0%, #8c21ff 51%, #b204ff 100%);
    outline: none;
    border: none;
}
.paynow div a {
    text-decoration: none;
}
.power {
    margin-top: 10px;
    background-color: transparent;
    border-radius: 5px;
    border: solid 1px #afacc8;
    border: none;
    height: 30px;
    outline: none;
    width: 150px;
}
.power img {
    width: 100%;
}
.small-power {
    border: none;
    background: transparent;
}
.small-power img {
    width: 50%;
    margin-top: 20px;
}
.skip span {
    font-family: "Beausite Classic";
}

.title p span {
    display:inline-block;
    padding-bottom:1px;
    background: 
        linear-gradient(to left,  #6041ff, #b601ff); 
    background-size:100% 2px;
    background-position:bottom 0 left 0,bottom 5px left 0;
    background-repeat:no-repeat;
}
@media only screen and (max-width: 990px) {
    .question {
        margin: -50px 10px;
    }
    .large {
        display: none;
    }
    .power {
        margin-top: 10px;
        height: 30px;
    }
    .help {
        display:none;
    }
    .paynow,.hidden-skip, .hidden-stripe, .hidden-logo {
        display: none;
    }
    .second-bar p{
        font-size: 28px;
    }
    .second-bar {
        margin: 70px 10%;
    }
    .message-text {
        font-size: 18px;
    }
    .message p {
        font-size: 27px;
    }
}
@media only screen and (min-width:991px) and (max-width: 1300px) {
    .question-content {
        margin: -40px 28%;
    }
    .power {
        height: 50px;
        margin-top: 0;
    }
    .skip{
        min-width: 115px;
    }
    .small {
        display: none;
    }
}